body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.calculator {
  margin: auto;
  width: 250px;
  height: 370px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: rgb(82, 81, 81);
  border-radius: 6px;
}

#display {
  height: 35px;
  text-align: right;
  font-size: 30px;
  padding: 3px;
  border: none;
  background: rgb(170, 169, 169);
  border-radius: 5px;
  margin-bottom: 8px;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  flex: 1;
  border: 1px solid rgb(82, 81, 81);
  display: flex;
  flex-wrap: wrap;
  background: rgb(46, 46, 46);
  border-radius: 5px;
}

button {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: rgb(136, 136, 136);
  width: 60px;
  margin: 1px;
  transition: all 0.1s;
}

.operator-button {
  background: rgb(179, 255, 164);
}

.function-button {
  background: rgb(255, 152, 152);
}

button:active {
  background: rgb(168, 167, 167);
}

button:hover {
  transform: scale(1.1);
}